  
  .card-content > img {
    width: 75%;
    margin-top: 5%;
    border-radius: 5px;
    transition: width 0.7s ease;
  }

  .card-title {
    opacity: 0;
    transition: opacity 0.7s ease, font-size 0.7s ease, margin-top 0.7s ease;
    margin-top: 0px;
    font-size: 1vw;
    font-family: 'Sometype Mono', monospace;
    position: absolute;
    margin-top: 100px;
  }


.c-container {
    max-width: calc(100vw - 400px);
    margin: 0 auto;
    padding: 20px;
}

.c-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.c-item {
    background-color: rgba(255, 255, 255, 0.084);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 100%;
    transition: background-color 0.6s ease;
}

.c-item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.121);
}

@media (max-width: 768px) {
    .c-grid {
        grid-template-columns: repeat(2, 1fr);
    }


    .c-container {
      max-width: calc(100vw - 200px);
    }
}

@media (max-width: 480px) {
    .c-grid {
        grid-template-columns: 1fr;
    }
}


