.message-container {
    width: 1000px;
    display: flex;
    position: absolute;
    margin-left: -500px;
    left: 50%;
}

.message-container-2 {
    width: 1000px;
    position: absolute;
    margin-left: -500px;
    left: 50%;
    margin-top: 100px;
}

.message-container > div {
    width: 50%;
    margin-left: 0px;
}

.message-container > div:nth-of-type(2) {
    margin-left: 40px;
}

.label {
    font-size: 17px;
    font-family: 'Sometype Mono', monospace;
}

.message-input {
    width: 100%;
    font-family: 'Sometype Mono', monospace;
    padding: 10px;
    font-size: 20px;
    border: 1px solid gray;
    background: rgba(0,0,0,0.1);
    margin-top: 10px;
    border-radius: 6px;
}

.message-message {
    width: 100%;
    font-family: 'Sometype Mono', monospace;
    padding: 10px;
    font-size: 20px;
    border: 1px solid gray;
    background: rgba(0,0,0,0.1);
    margin-top: 10px;
    height: 100px;
    border-radius: 6px;
    resize: none;
}

.message-button {
    position: absolute;
    padding: 20px 150px 20px 150px;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid gray;
    font-family: 'Sometype Mono', monospace;
    margin-top: 20px;
    transform: translateX(-50%);
    left: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s ease, border 0.4s ease, color 0.4s ease;
    border-radius: 6px;
}

.message-button:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
}


.message-button:active {
    background-color: rgb(224, 224, 224);
    border: 2px solid rgb(224, 224, 224);
    color: black;
}