:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  height: 4000px;
}

.navbar {
  width: 100vw;
  height: 60px;
  position: fixed;
  background: rgba(0,0,0,0.2);
}

.navbar-child-wrapper {
  display: flex;
  position: absolute;
  right: 0px;
}

.navbar-child {
  right: 0px;
  margin-right: 100px;
  margin-top: 15px;
  font-size: 17px;
}